# K-Neareast Neighbours: Classification

## Introduction
This notebook's objective is implement K-Neareast Neighbours (KNN) Classification algorithm by implement it in Numpy and testing it on the infamous Iris flower dataset containing measurements of flowers from 3 different species.

### Loading the data
Make use of `numpy` and `matplotlib`, as well as `sklearn` to load the Iris flower dataset.

In [3]:
### Importing Libraries
import numpy as np
import matplotlib.pyplot as plt
from sklearn import datasets

In [8]:
# Loading dataset and inspecting it as a Pandas dataframe.
dataset = datasets.load_iris(as_frame = True)
iris_dataframe = dataset.frame
type(iris_dataframe)

pandas.core.frame.DataFrame

By visualizing pandas data, there are four features (sepal length, sepal width, petal length, petal width) and on target column which takes on values 0, 1, 2.

In [9]:
# Visualizing Pandas data
iris_dataframe

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

Let X be features and Y be targets, and turn them into numpy arrays

In [10]:
features = iris_dataframe.iloc[:,:4] # get first 4 columns
features

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [11]:
# Now turn them into numpy array
X = features.to_numpy() # convert from pandas to Numpy array
X.shape

(150, 4)

In [15]:
targets = iris_dataframe.iloc[:,4] # get last column
targets

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: target, Length: 150, dtype: int64

In [16]:
Y = targets.to_numpy() # Convert from Pandas to Numpy
Y.shape

(150,)

### Pre-processing and splitting the data
1. Limit the data to only include `sepal_length` and `sepal_width`
2. Split the data into train, test, and validation

#### Limiting to `sepal_length` and `sepal_width`
We want to keep the first two columns of X:

In [18]:
X = X[:,:2]
X.shape

(150, 2)